body{
    background-color: #3f3e3e;
    margin: 0;
    font-family: 'Monofett', monospace;
    overflow-y: auto;
    overflow-x: hidden;
    height: 450vh;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    position: relative;
}

.navbar a {
    text-decoration: none;
    padding: 10px 20px;
    border: 5px solid white;
    border-radius: 20px;
    background-color: #64645f;
    color: #90ff50;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.3s;
    z-index: 1;
}

.navbar a:hover {
    background-color: white;
    color:black;
    z-index: 1;
}

.logo {
    position: absolute;
    left: 10px;
    z-index: 11;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}

.lines-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 450vh;
    background-color: rgba(60, 50, 50, 0.9);
}

.lines-img {
    position: absolute;	
    top: 0;
    left: 0;
    height: 100vh;
    transform: rotate(270deg);
    height: auto;
    z-index: -1;
    opacity: 1;
    background: none;
    filter: brightness(0.3) contrast(1.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.duplicate {
    position: absolute;
    top: 100vh; 
    left: 53%;
    top: 20%;
}


.mirrored {
    transform: rotate(270deg) scaleX(-1);
    left: 50%;
    top: 45%;
}

.duplicated-mirrored {
    transform: rotate(270deg) scaleX(-1);
    left: 10%;
    top: 60%;
}

.duplicated-mirrored2 {
    transform: rotate(270deg) scaleX(-1);
    left: -17%;
    top: 70%;
}

.footer-placeholder {
    position: absolute;
    top: 410%;
    background-color: rgba(100, 100, 95, 0.8);
    box-shadow: 0 0 15px rgba(144, 255, 80, 0.5);
    border: 5px solid #90ff50;
    right: 0;
    height: 40vh;
    width: 99.3%;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    align-items: center;
    color: #90ff50;
    font-size: 30px;
    text-transform: uppercase;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40px;
    height: 50px;
    margin: 10px;
    margin-bottom: 300px;
    
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 0.5px;
    left: 50%;
    transform: translateX(-50%);
}

.copyright {
    font-size: 25px;
    color: #90ff50;
    text-transform: uppercase;
}

.flags-container {
    display: flex;
    gap: 10px;
}

.flag {
    width: 40px;
    height: 30px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 0.1px 25px;
    text-align: center;
    color: #90ff50;
    position: absolute;
    font-size: 30px;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
}

.footer-image {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 20px;
    bottom: 70px;
    align-items: center;
    gap: 0.5px;
}

.footer-image img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 15px rgba(144, 255, 80, 0.5);
}

.footer-image .profile-name {
    font-size: 20px;
    text-align: center;
    margin-bottom: 2px;
}

.footer-image .profile-title {
    font-size: 15px;
    text-align: center;
    margin-top: 0.5px;
}

.logo-python {
    position: absolute;
    top: 8%;  
    left: 28.5%;  
    z-index: 5;  
    pointer-events: none;
    color: white; 
}

.logo-python img {
    width: 70px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-code {
    position: absolute;
    top: 10%;  
    left: 34%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-code img {
    width: 70px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-html5 {
    position: absolute;
    top: 12%;  
    left: 39%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-html5 img {
    width: 55px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-css {
    position: absolute;
    top: 14%;  
    left: 44%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-css img {
    width: 55px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-vscode {
    position: absolute;
    top: 16%;  
    left: 49%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-vscode img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-huawei {
    position: absolute;
    top: 18%;  
    left: 55%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-huawei img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-docker {
    position: absolute;
    top: 20%;  
    left: 60.8%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-docker img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-cloud {
    position: absolute;
    top: 21.5%;  
    left: 64.7%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-cloud img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-django {
    position: absolute;
    top: 23.5%;  
    left: 69.8%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-django img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-django2 {
    position: absolute;
    top: 6%;  
    left: 23%;  
    z-index: 5;  
    pointer-events: none;
    color: white; 
}

.logo-django2 img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-cloud2 {
    position: absolute;
    top: 4%;  
    left: 18%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-cloud2 img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-docker2 {
    position: absolute;
    top: 2%;  
    left: 13%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-docker2 img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-huawei2 {
    position: absolute;
    top: 0.1%;  
    left: 8%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-huawei2 img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-python2 {
    position: absolute;
    top: 25.6%;  
    left: 75%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-python2 img {
    width: 70px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-code2 {
    position: absolute;
    top: 27.8%;  
    left: 81%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-code2 img {
    width: 70px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-html52 {
    position: absolute;
    top: 30%;  
    left: 87%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-html52 img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-css2 {
    position: absolute;
    top: 32%;  
    left: 92%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-css2 img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-vscode2 {
    position: absolute;
    top: 33.8%;  
    left: 97%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-vscode2 img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-vscode-duplicate {
    position: absolute;
    top: -2%;  
    left: 1.5%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-vscode-duplicate img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-css-duplicate{
    position: absolute;
    top: -4%;  
    left: -3.5%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-css-duplicate img{
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-html5-duplicate{
    position: absolute;
    top: -6%;  
    left: -9%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-html5-duplicate img{
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-code-duplicate{
    position: absolute;
    top: -8%;  
    left: -14%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-code-duplicate img {
    width: 70px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-python-duplicate{
    position: absolute;
    top: -10%;  
    left: -20%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-python-duplicate img {
    width: 70px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-django-duplicate {
    position: absolute;
    top: -12.5%;  
    left: -26%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-django-duplicate img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-cloud-duplicate {
    position: absolute;
    top: -15%;  
    left: -33%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-cloud-duplicate img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-docker-duplicate {
    position: absolute;
    top: -17%;  
    left: -38%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-docker-duplicate img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-huawei-duplicate {
    position: absolute;
    top: -19%;  
    left: -44%;  
    z-index: 5;  
    pointer-events: none;
    color: white;
}

.logo-huawei-duplicate img{
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.logo-python-liner2 img {
    width: 70px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
    margin-top: 3%;
    z-index: 5;
}

.logo-docker-liner2 img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
    margin-top: 1%;
    margin-left: 5%;
    z-index: 5;
}

.logo-django-liner2 img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
    margin-top: 1%;
    margin-left: 10%;
    z-index: 5;
}

.logo-cloud-liner2 img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
    margin-top: 1%;
    margin-left: 15%;
    z-index: 5;
}

.logo-vscode-liner2 img {
    width: 60px;
    height: auto;
    opacity: 0.1;
    transition: transform 0.3s;
    color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
    margin-top: 1.7%;
    margin-left: 20%;
    z-index: 5;
}