{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Monofett&display=swap" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{% static 'img/v1_37.png' %}" alt="logo">
        </div>
        <a href="#">Home</a>
        <a href="#">About Me</a>
        <a href="#">Contact</a>
        <a href="#">Brands</a>
        <a href="#">Material</a>
        <a href="#">Login</a>
    </div>

    <div class="lines-container">
        <div class="logo-python">
            <img src="{% static 'img/v1_84.png' %}" alt="Python Logo">
        </div>

        <div class="logo-code">
            <img src="{% static 'img/v1_87.png' %}" alt="Code Logo">
        </div>

        <div class="logo-html5">
            <img src="{% static 'img/v1_90.png' %}" alt="Code Html5">
        </div>

        <div class="logo-css">
            <img src="{% static 'img/v1_93.png' %}" alt="Code Css">
        </div>

        <div class="logo-vscode">
            <img src="{% static 'img/v1_96.png' %}" alt="Code VSCode">
        </div>

        <div class="logo-huawei">
            <img src="{% static 'img/v1_99.png' %}" alt="Code Huawei">
        </div>

        <div class="logo-docker">
            <img src="{% static 'img/v1_102.png' %}" alt="Code Docker">
        </div>

        <div class="logo-cloud">
            <img src="{% static 'img/v1_105.png' %}" alt="Cloud">
        </div>

        <div class="logo-django">
            <img src="{% static 'img/v1_108.png' %}" alt="Django Logo">
        </div>

        <div class="logo-django2">
            <img src="{% static 'img/v1_108.png' %}" alt="Django Logo">
        </div>

        <div class="logo-cloud2">
            <img src="{% static 'img/v1_105.png' %}" alt="Cloud">
        </div>

        <div class="logo-docker2">
            <img src="{% static 'img/v1_102.png' %}" alt="Code Docker">
        </div>

        <div class="logo-huawei2">
            <img src="{% static 'img/v1_99.png' %}" alt="Code Huawei">
        </div>

        <div class="logo-python2">
            <img src="{% static 'img/v1_84.png' %}" alt="Python Logo">
        </div>

        <div class="logo-code2">
            <img src="{% static 'img/v1_87.png' %}" alt="Code Logo">
        </div>

        <div class="logo-html52">
            <img src="{% static 'img/v1_90.png' %}" alt="Code Html5">
        </div>

        <div class="logo-css2">
            <img src="{% static 'img/v1_93.png' %}" alt="Code Css">
        </div>

        <div class="logo-vscode2">
            <img src="{% static 'img/v1_96.png' %}" alt="Code VSCode">
        </div>

        <div class="logo-vscode-duplicate">
            <img src="{% static 'img/v1_96.png' %}" alt="Code VSCode">
        </div>

        <div class="logo-css-duplicate">
            <img src="{% static 'img/v1_93.png' %}" alt="Code Css">
        </div>

        <div class="logo-html5-duplicate">
            <img src="{% static 'img/v1_90.png' %}" alt="Code Html5">
        </div>

        <div class="logo-code-duplicate">
            <img src="{% static 'img/v1_87.png' %}" alt="Code Logo">
        </div>

        <div class="logo-python-duplicate">
            <img src="{% static 'img/v1_84.png' %}" alt="Python Logo">
        </div>

        <div class="logo-django-duplicate">
            <img src="{% static 'img/v1_108.png' %}" alt="Django Logo">
        </div>

        <div class="logo-cloud-duplicate">
            <img src="{% static 'img/v1_105.png' %}" alt="Cloud">
        </div>

        <div class="logo-docker-duplicate">
            <img src="{% static 'img/v1_102.png' %}" alt="Code Docker">
        </div>

        <div class="logo-huawei-duplicate">
            <img src="{% static 'img/v1_99.png' %}" alt="Code Huawei">
        </div>

        <img class="lines-img" src="{% static 'img/v1_4.png' %}" alt="lineas">
        <img class="lines-img duplicate" src="{% static 'img/v1_4.png' %}" alt="lineas">
        <img class="lines-img mirrored" src="{% static 'img/v1_4.png' %}" alt="lineas">
        <img class="lines-img duplicated-mirrored" src="{% static 'img/v1_4.png' %}" alt="lineas">
        <img class="lines-img duplicated-mirrored2" src="{% static 'img/v1_4.png' %}" alt="lineas">

    </div>

    <div class="footer-placeholder">
        <div class="footer-content">
            <div class="footer-left">
                <p>SÍGUEME</p>
                <img src="{% static 'img/v1_48.png' %}" alt="Linkedin">
                <img src="{% static 'img/v1_51.png' %}" alt="Instagram">
            </div>

            <div class="footer-links">
                <p>Home</p>
                <p>Contact</p>
                <p>About Me</p>
                <p>Material</p>
                <p>Brands</p>
            </div>

            <div class="footer-right">
                <p class="copyright">COPYRIGHT © 2025 CARLOS GALINDO</p>
                <div class="flags-container">
                    <img src="{% static 'img/v1_63.png' %}" alt="Venezuela" class="flag">
                    <img src="{% static 'img/v1_60.png' %}" alt="Chile" class="flag">
                </div>
            </div>

            <div class="footer-image">
                <img src="{% static 'img/v1_54.png' %}" alt="Imagen">
                <p class="profile-name">Carlos Galindo</p>
                <p class="profile-title">Solution Architect | Presales Engineer</p>
            </div>

        </div>
    </div>
</body>
</html>

